
/* .w-full.overflow-x-scroll::-webkit-scrollbar {
    height: 3px; 
}

.w-full.overflow-x-scroll::-webkit-scrollbar-thumb {
    background-color: #109088; 
    border-radius: 10px; 
    display: none;
}

.w-full.overflow-x-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.w-full.overflow-x-scroll {
    scrollbar-width: thin; 
    scrollbar-color: #109088 #f1f1f1; 
} */

    .container::-webkit-scrollbar{
        width:1px;
        background-color:#f1f1f1;
        height: 4px;
        }
        
    .container::-webkit-scrollbar-thumb{
    background: #109088;
    border-radius:1px;
    width: 1px;
    height: 4px;
    }